{% extends "base.html" %}

{% block content %}
    <h1>Меню</h1>
    {% for categ in all_categories_with_dishes %}
        <h2>{{categ.name}}</h2>
        <div class="cards-grid">
            {% for dish in categ.menu_items %}
                <div class="card">
                    <img src="{{ 'static/' + dish.image_url }}" alt="{{ dish.name }}">
                    <p>Описание: {{ dish.description }}</p>
                    <p>Доступно ли: {{ dish.is_available }}</p>
                    <p>Цена: {{ "{:.2f}".format(dish.price) }}руб</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}